# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

.idea/workspace.xml
.idea/tasks.xml

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist/

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
